#jogo{
	width:408px;
	height:408px;
	border:solid 1px;
}

.linha{
    height:50px;
    border-bottom:solid 1px;
}

.casa{
	width:50px;
	height:100%;
	float:left;
    cursor: pointer;
    border-right:solid 1px;
}

.casa_branca{
	background-color: #fff;
}

.casa_preta{
	background-color: #000;
}

.casa_selecionada{
	background-color: #FF0000;
}
.image{
    width: 50px;
    height: 50px;
}